<%- include('../partials/header')-%>
    <title>Productos | Proyecto 5</title>
</header>
<%- include('../partials/navbar')-%>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/"">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/productos">Products</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body>
    <div class="container" style="margin-top: 4rem">
        <% if(products.length > 0){ %>
            <div class="table-responsive">
                <table class="table table-dark">
                    <thead>
                        <tr style="color: white;"> 
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Foto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(product => { %>
                            <tr>
                                <td><%= product.title %></td>
                                <td>S/. <%= product.price %></td>
                                <td><img src=<%= product.thumbnail %> alt=<%= product.title %> style="max-width: 4rem"></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        <% } else{ %>
            <h3 class="alert alert-danger">No se encontraron datos</h3>
        <% } %>
    </div>
<%- include('../partials/footer')-%>